/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.LoginForm{
    width:50%;
    height:auto;
    margin:auto;
}
.LoginForm div{
    margin-top:10px;
}
.row{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
}
.row,.column .btn{
    width:45%;
    height:50px;
}
.column{
    display:flex;
    flex-direction:column;
    width:100%;
    justify-content:center;
    align-content:center;
    align-items:center;
}

h1{
    text-align:center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
